{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx",
    [
      "emotion",
      { "autoLabel": true, "labelFormat": "[local]", "sourceMap": true }
    ]
  ]
}
